.container {
	background-color: #f0f2f5;
	min-height: 100vh;
}

.friends-container {
	min-width: 100vw;
}

.friends-modal {
	display: grid;
	grid-template-columns: repeat(4, 350px);
	grid-auto-rows: auto;
	grid-gap: 1rem;
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: end;
}

.large-button {
	padding: 15px 30px;
	/* Adjust padding to increase button size */
	font-size: 18px;
	/* Adjust font size */
	border: none;
	border-radius: 8px;
	/* Rounded corners */
	background-color: #3498db;
	/* Button color */
	color: white;
	/* Text color */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
}

.large-button:hover {
	background-color: #2980b9;
	/* Change color on hover */
}

.option-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-container {
	padding: 3rem;
	margin-top: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.checkbox-container {
	padding: 2rem;
}

.button-container-2 {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
