.profile {
  max-width: 600px;
  margin: 10px auto;
}

.profile-frame {
  display: flex;
  justify-content: space-evenly;
}

.profile-pic {
  height: fit-content;
}

.profile-pic > img {
  width: 160px;
  height: 160px;
  object-fit: contain;
  border-radius: 100px;
}

.profile-data {
  text-align: left;
}

.profile-info p {
  padding: 0px 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.gallery img {
  width: 30%;
  margin: 10px;
}

.profile_img:hover {
  cursor: pointer;
}

.followBtn {
  cursor: pointer;
  font-weight: bolder;
  padding: 0px 35px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #0115eb;
  transition: all 0.25s ease;
  margin-left: 20px;
}

.unfollowBtn {
  cursor: pointer;
  font-weight: bolder;
  padding: 0px 35px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #868cc8;
  transition: all 0.25s ease;
  margin-left: 20px;
}

.inlineStyle {
  display: flex;
}

.followBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px -10px #0115eb;
}

.unfollowBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px -10px #0115eb;
}

.changePic {
  background-color: #f0f2f5;
  border-radius: 20px;
}

.changePic h2 {
  font-size: 1.2rem;
  font-family: "Black Ops One";
}

.changePic div {
  padding: 15px 80px;
}

.upload-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bolder;
  font-family: "Courier Prime";
  font-size: 15px;
}

.profilePic {
  margin-top: 1rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  background-color: #f0f2f5;
}
