* {
  margin: 0px;
  padding: 0px;
}

:root {
  /* fonts */
  --font-black-ops-one: "Black Ops One";
  --font-courier-prime: "Courier Prime";

  /* font sizes */
  --font-size-large: 10.5rem;
  --font-size-medium: 2.75rem;
  --font-size-mediumSmall: 2.5rem;
  --font-size-small: 1.5rem;
  --font-size-smallgo: 1.9rem;

  --font-size-large: 10.5rem;
  --font-size-mediumMob: 5rem;
  --font-size-mediumSmallMob: 1rem;
  --font-size-smallMob: 1rem;
  --font-size-smallgo: 1.9rem;

  --font-size-large: 10.5rem;
  --font-size-mediumTab: 10rem;
  --font-size-mediumSmallTab: 2.2rem;
  --font-size-smallTab: 2.2rem;
  --font-size-smallgoTab: 2.6rem;

  /* Colors */
  --color-slateblue: #1d40b9;
  --color-gray-100: rgba(255, 255, 255, 0.4);
  --color-black: #000;

  /* Paddings */
  --padding-6xs: 0.44rem;
  --padding-3xs: 0.63rem;
  --padding-2xs: 0.69rem;

  /* border radiuses */
  --br-xl: 5px;
}

.signUp {
  min-height: 100vh;
  background-color: #f0f2f5;
  background-size: cover;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-container {
  display: flex;
  justify-content: center;
}

.project-title-container {
  font-family: var(--font-black-ops-one);
  font-size: var(--font-size-medium);
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.form-container {
  min-width: 350px;
  box-shadow: 0px 0px 5px 0px #aaadb0;
}

.form {
  background-color: transparent;
  padding: 30px;
  border: none;
}

.signUpLogo {
  width: 250px;
  object-fit: contain;
  padding: 10px 0px;
}

.input-div {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px -5px -5px #c4cad1;
}

input {
  background-color: transparent;
  color: #a28f8f;
  margin: 3px 0px;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  transition-duration: 300ms;
}

::placeholder {
  color: #aaadb0;
  font-family: var(--font-courier-prime);
}

input:hover {
  border-color: #0c56b8;
  border-width: 1.5px;
}

.form > div {
  width: 80%;
  margin: auto;
}

.form {
  text-align: center;
}

#show-password-btn {
  background-color: white;
  color: #1773ea;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px 10px;
  width: 80%;
  cursor: pointer;
  margin-top: 15px;
  outline: none;
  box-shadow: 0px -2px #02234f;
  font-family: var(--font-courier-prime);
}

#email {
  font-family: var(--font-courier-prime);
}

#name {
  font-family: var(--font-courier-prime);
}

#username {
  font-family: var(--font-courier-prime);
}

#password {
  font-family: var(--font-courier-prime);
}

#submit-btn {
  background-color: #1877f2;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px 10px;
  width: 80%;
  cursor: pointer;
  margin-top: 15px;
  outline: none;
  box-shadow: 4px 4px #02234f;
  font-family: var(--font-courier-prime);
}

#submit-btn:hover {
  background-color: white;
  color: #1773ea;
  transition-duration: 0.5s;
}

.google-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.form-footer {
  background-color: transparent;
  padding: 2rem;
  margin-top: 2rem;
  border: none;
  text-align: center;
  font-family: var(--font-courier-prime);
}
