.card_item {
  width: 24%;
  width: 100%;
  text-align: center;
}

@keyframes appear-scale {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.usercard-container {
  padding: 3rem;
  animation: appear-scale linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.container .card_item:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
  cursor: pointer;
}

.container .card_inner {
  background: rgba(253, 253, 253, 0.808);
  border-radius: 10px;
  padding: 35px 25px;
  min-width: 225px;
  min-height: 315px;
  max-height: 370px;
  width: 100%;
  box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
}

.container .card_item img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 50%;
  align-items: center;
  transition: transform 0.2s;
}

.container .card_item .userName {
  color: #203150;
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .card_item .userUrl {
  font-size: 12px;
  font-weight: 100;
  margin: 5px 0 10px;
  word-wrap: break-word;
  color: #6ea4ea;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container .card_item .gitDetail {
  font-size: 14px;
  line-height: 24px;
  color: #6ea4ea;
  display: flex;
  flex-direction: column;
}

.container .card_item .college-field {
  margin-right: 0.4rem;
}

.container .card_item .college-field-2 {
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

.detail-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-box span {
  margin: 2px;
  padding: 2px 10px;
  /* border: 2px solid #c7e6fa; */
  background-color: #ebf3fa;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 600;
  color: #788697;
  font-family: var(--font-courier-prime);
}

.addFriend {
  margin: 25px auto;
  width: 140px;
  height: 40px;
  background: #1877f2;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 10px 10px hsl(225, 100%, 94%);
  font-family: var(--font-courier-prime);
}

.removeFriend {
  margin: 25px auto;
  width: 180px;
  height: 40px;
  background: #1877f2;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 10px 10px hsl(225, 100%, 94%);
  font-family: var(--font-courier-prime);
}

.addFriend:hover {
  width: 160px;
  height: 45px;
}

.removeFriend:hover {
  width: 200px;
  height: 45px;
}

.top-margin {
  margin-top: 5rem;
}

.addFriend:hover {
  scale: 1.25;
}

@media screen and (max-width: 1024px) {
  .container .card_item {
    width: 33%;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .container .card_item {
    width: 50%;
  }
  .wrapper .header {
    font-size: 16px;
    height: 50px;
  }
}

@media screen and (max-width: 568px) {
  .container .card_item {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .container .card_item {
    width: 100%;
  }
}
