html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: scroll;
}

.Toastify__toast--success {
  font-family: "Black Ops One";
}

.Toastify__toast--warning {
  font-family: "Black Ops One";
}

.Toastify__toast--error {
  font-family: "Black Ops One";
}
